@import "../../style/variables";

.Integration {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0 5% 0 15%;
    .Text {
        width: 60%;
        .Tagline {
            color: $color-title;
            font-size: 13px;
            font-weight: 600;
            line-height: 45px;
            letter-spacing: 1.7px;
        }
        .Title {
            margin-bottom: 0.8rem;
            color: $color-title;
            font-size: 28px;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: -0.8px;
        }
        .Extra {
            display: grid;
            gap: 20px;
            grid-template-areas:
                "First Second"
                "Third Fourth"
                "Fifth Fifth";
            & > * {
                margin: 0;
            }
            .First {
                grid-area: First;
            }
            .Second {
                grid-area: Second;
            }
            .Third {
                grid-area: Third;
            }
            .Fourth {
                grid-area: Fourth;
            }
            .Fifth {
                grid-area: Fifth;
            }
        }
    }
    .Illustration {
        margin-left: 2rem;
        width: 70%;
        img {
            width: 100%;
        }
    }
    @media (max-width: 767px) {
        flex-direction: column;
        padding: 0 10%;
        .Illustration {
            margin: 3rem 0 3rem 0;
        }
        .Text {
            width: 100%;
            .Tagline {
                text-align: center;
            }
            .Title {
                text-align: center;
            }
            .Extra {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
            }
        }
    }
}
