$global-color-primary: #6ec1e4;
$global-color-secondary: #54595f;
$color-title: #1e1666;
$color-text: #6a7c92;
$color-text2: #626262;
$color-blue: #1F59BC;
$color-orange: #e95436d4;
$color-white: #ffffff;
$color-black: #1a1a1a;

