@import "../../style/variables";
.Cico {
    display: flex;
    padding: 0 5% 0 15%;

    .Text {
        width: 100%;
        margin-right: 5rem;

        .Extra {
            display: flex;
        }
    }

    .Illustration {
        width: 100%;
    }
    @media (max-width: 767px) {
        flex-direction: column;
        padding: 0 10%;

        margin-top: 2rem;
        .Illustration {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }
        .Text {
            margin-right: 0;
            text-align: center;
            .Extra {
                flex-direction: column;
            }
        }
    }
}
