.Container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        "NavBar NavBar NavBar NavBar NavBar"
        "Hero Hero Hero Hero Hero"
        "Solutions Solutions Solutions Solutions Solutions"
        "Cico Cico Cico Cico Cico"
        "Integrations Integrations Integrations Integrations Integrations"
        "CTA CTA CTA CTA CTA"
        "Clients Clients Clients Clients Clients"
        "Footer Footer Footer Footer Footer";
}
.NavBar {
    grid-area: NavBar;
}
.Hero {
    grid-area: Hero;
}
.Solutions {
    grid-area: Solutions;
}
.Cico {
    grid-area: Cico;
}
.Integrations {
    grid-area: Integrations;
}
.CTA {
    grid-area: CTA;
}
.Clients {
    grid-area: Clients;
}
.Footer {
    grid-area: Footer;
}
